click==6.7
dlib==19.7.0
flask ~> 0.12.3
flask-marshmallow==0.8.0
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
marshmallow ~> 2.15.1
marshmallow-sqlalchemy==0.13.2
numpy==1.13.3
scikit-learn==0.19.1
scipy==1.0.0
sip==4.19.3
six==1.11.0
sklearn==0.0
SQLAlchemy==1.1.15
Werkzeug==0.12.2
