{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/lib/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<title>Emotions in Heritage</title>
<style>
    .height-wrapper {
        margin: 0; min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .height-top {
        height: 70px;
    }
    .height-bottom {
        flex: 1;
    }
    .chart-wrapper {
        height: 200px;
        width: 200px;
        max-height: 200px;
        max-width: 200px;
    }
    .range-parent, .range-parent::after, .ranger-parent::before {
        box-sizing: border-box;
    }
    .range-slider {
        -webkit-appearance: none;
        width: calc(100% - 140px);
        height: 10px;
        border-radius: 5px;
        background: #d7dcdf;
        outline: none;
        padding: 0;
        margin: 0;
    }
    .range-slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border: 0;
        border-radius: 50%;
        background: #2c3e50;
        cursor: pointer;
        transition: background .15s ease-in-out;
    }
    .range-slider::-moz-range-thumb:hover {
        background: #1abc9c;
    }
    .range-slider:active::-moz-range-thumb {
        background: #1abc9c;
    }
    .range-slider-value {
        display: inline-block;
        position: relative;
        width: 100px;
        color: #fff;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        background: #2c3e50;
        padding: 5px 10px;
        margin-left: 8px;
    }
    .range-slider-value:after {
        position: absolute;
        top: 8px;
        left: -7px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-right: 7px solid #2c3e50;
        border-bottom: 7px solid transparent;
        content: '';
    }
    ::-moz-range-track {
        background: $range-track-color;
        border: 0;
    }

    input::-moz-focus-inner,
    input::-moz-focus-outer { 
      border: 0; 
    }
</style>
{% endblock head %}
{% block content %}
<div id="pagewrapper">
    <!-- Page 1: Session Picker (homepage) -->
    <div id="page_session_picker" class="uk-hidden">
        <div class="uk-container uk-margin-medium-top">
            <div class="uk-text-center">
                <h1>Welcome to Emotions in Heritage</h1>
                <p class="uk-text-lead">Please choose a session</p>
            </div>
            <div class="uk-divider-icon"></div>
            <div class="uk-float-right">
                <button class="uk-button uk-button-primary" id="btn-new-session">New session</button>
            </div>
            <table id="session-table" class="uk-table uk-table-divider uk-table-justify uk-table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>People</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!-- Page 2: Session Creator -->
    <div id="page_session_creator" class="uk-hidden">
        <div class="uk-container uk-margin-medium-top">
            <div class="uk-text-center">
                <h1>Create a new session</h1>
            </div>
            <div class="uk-divider-icon"></div>
            <form id="form-new-session">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">New Session</legend>
                    <div class="uk-margin">
                        <input class="uk-input" type="number" min="1" max="15" name="user_count" placeholder="People">
                    </div>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" name="description" rows="4" placeholder="Description"></textarea>
                    </div>
                </fieldset>
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">People</legend>
                    <div class="uk-margin" id="form-people-div"></div>
                </fieldset>
            </form>
            <div class="uk-display-inline-block uk-float-right uk-margin-medium-top">
                <button id="btn-session-save" class="uk-button uk-button-primary" title="Save and return to session picker" uk-tooltip>Save</button>
                <button id="btn-session-go" class="uk-button uk-button-primary" title="Save and start the newly created session" uk-tooltip>Save &amp; Start</button>
                <button id="btn-session-cancel" class="uk-button uk-button-default">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Page 3: Current session -->
    <div id="page_session_viewer" class="uk-hidden">
        <div class="height-wrapper" id="subpage">
            <div class="height-top">
                <div class="uk-grid-collapse" uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-grid-small uk-padding-small uk-box-shadow-small" uk-grid>
                            <div class="uk-width-auto">
                                <select id="select-video" class="uk-select"></select>
                            </div>
                            <div class="uk-width-auto">
                                <button id="btn-show-video" class="uk-button uk-button-default">
                                    <span class="uk-margin-small-right" uk-icon="icon: play-circle"></span>
                                    Show Video
                                </button>
                            </div>
                            <div class="uk-width-auto">
                                <button class="uk-button uk-button-primary" id="btn-gen-model">
                                    <span class="uk-margin-small-right" uk-icon="icon: bolt"></span>
                                    Generate Model
                                </button>
                            </div>
                            <div class="uk-width-expand range-parent">
                                <input class="range-slider" id="timeline" type="range" min="0" max="0" step="0.5">
                                <span class="range-slider-value" id="range-output">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-bottom" id="canvas-area"></div>
        </div>
    </div>
</div>

{% endblock content %}
